*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
}

p {
    line-height: 1.2;
}

span,
a {
    display: inline-block;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}
ul,
li {
    list-style: none;
}

input,
textarea,
button {
    font: inherit;
    display: block;
    font-size: 1rem;
    color: #333;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
